<td style="width: 100px">
  <div class="row">
    <div class="col text-center">
      <button
        class="button text-center"
        ngbTooltip="calculate statistics"
        triggers="hover"
        container="body"
        (click)="showMetrics()"
      >
        <i class="bi bi-graph-up"></i>
      </button>
      <button
        class="button text-center"
        ngbTooltip="show in process tree editor"
        triggers="hover"
        container="body"
        (click)="showInProcessTreeEditor()"
      >
        <i class="bi bi-diagram-2-fill"></i>
      </button>
    </div>
  </div>
</td>
<td #row class="border-start border-lightgrey">
  <svg
    #d3svg
    id="d3-svg"
    width="100%"
    [attr.height]="treeSvgHeight"
    class="pt-2 pb-2 d-flex"
  >
    <g
      #d3svgDirective
      appProcessTreeDrawer
      [onClickCallBack]="selectNodeCallBack"
      [computeNodeColor]="computeNodeColor"
      [computeTextColor]="computeTextColor"
      [tooltipText]="tooltipContent"
      id="d3-svg-directive"
      width="100%"
      height="100%"
      class="text-center"
      [style.transform]="'translateX(' + lpmColumnSize / 2 + 'px) scale(0.8)'"
    ></g>
  </svg>
</td>

<td class="border-start border-lightgrey ps-2 overflow-cell" *ngIf="isVisible">
  <div class="p-2" *ngFor="let pattern of lpm.patterns; let j = index">
    <svg
      appVariantDrawer
      #fragment
      [variant]="pattern"
      [computeActivityColor]="computeActivityColor"
      [onRightMouseClickCbFc]="openContextCallback"
      [infixType]="InfixType.PROPER_INFIX"
      [keepStandardView]="true"
      [addCursorPointer]="false"
      class="zoom-group-variant"
    ></svg>
  </div>
</td>

<td *ngIf="!isVisible" class="border-start border-lightgrey ps-2 overflow-cell">
  <div
    *ngFor="let pattern of lpm.patterns; let j = index"
    class="variant-spacer"
    [ngStyle]="{
      height: pattern.variant.getHeight() + 'px',
      width: pattern.variant.getWidth() + 'px'
    }"
  >
    Loading...
  </div>
</td>
